<div class="container">
	<mat-card>
		<mat-list>
			<mat-list-item *ngFor="let item of list" (click)="delete(item)">
				<mat-checkbox>{{ getData(item).value }}</mat-checkbox>
				<button mat-icon-button class="ml-auto mr-0">
					<i class="material-icons">delete</i>
				</button>
			</mat-list-item>
		</mat-list>
		<form [formGroup]="addForm" (ngSubmit)="add()">
			<mat-form-field>
				<input matInput placeholder="Add a new item" formControlName="add">
				<button matSuffix mat-button type="submit">Add</button>
			</mat-form-field>
		</form>
	</mat-card>
</div>
