<div class="container">
	<mat-card>
		<mat-list>
			<mat-list-item>
				<mat-checkbox>Test 1</mat-checkbox>
				<button mat-icon-button class="ml-auto mr-0">
					<i class="material-icons">delete</i>
				</button>
			</mat-list-item>
			<mat-list-item>
				<mat-checkbox>Test 2</mat-checkbox>
				<button mat-icon-button class="ml-auto mr-0">
					<i class="material-icons">delete</i>
				</button>
			</mat-list-item>
			<mat-list-item>
				<mat-checkbox>Test 3</mat-checkbox>
				<button mat-icon-button class="ml-auto mr-0">
					<i class="material-icons">delete</i>
				</button>
			</mat-list-item>
		</mat-list>
		<mat-form-field>
			<input matInput placeholder="Add a new item">
			<button matSuffix mat-button>Add</button>
		</mat-form-field>
	</mat-card>
</div>
